{% extends 'email_base.html' %}


{% block content %}

<table cellpadding="0" cellspacing="0" style="width:670px;background:#ffffff" align="center">
 <tbody><tr>
  <td align="center" style="padding:20px 0 40px 0">
   <table cellpadding="0" cellspacing="0" style="width:600px;background:#ffffff" align="center">
    <tbody><tr>
     <td>




      <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:600px" align="center">
        <tbody><tr>
          <td style="font-size:34px;color:#333333;line-height:121%;padding:20px 0 0 0">Hi {{talk.expert}},</td>
        </tr>
        <tr>
          <td style="font-size:34px;color:#333333;line-height:121%;font-weight:bold">This is a reminder for your upcoming talk with {{talk.user}}!</td>
        </tr>
        <tr>
          <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;padding:20px 0 20px 0">
            Your talk number is <strong>{{talk.id}}</strong> placed on {{talk.created}}</td>
          </tr>
          <tr>
            <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;padding:10px 10px 10px 10px;background-color:#F7FFF4" align="center">
              <div style='font-weight:bolder'>Call Number: <span style='font-size:20px;color:rgb(50, 224, 21)'>(201) 561-8303</span></div>
              <div style='font-weight:bolder'>Call Number: <span style='font-size:20px;color:rgb(50, 224, 21)'>{{talk.expert_pin}}</span></div>

            </td>
          </tr>
        </tbody></table></td></tr>
      </tbody></table>






      <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:600px" align="center">
        <tbody><tr>
          <td style="font-size:22px;color:#333333;line-height:119%;font-weight:normal;padding:40px 0 0 0" align="left" valign="bottom">Call Info</td>
          <td style="font-size:13px;color:#333333;line-height:117%;font-weight:bold;padding:40px 0 0 0" align="left" valign="bottom"><a href="" style="color:#0185c6;text-decoration:none" target="_blank">View Status</a></td>
        </tr>
      </tbody></table>
      <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:600px" align="center">
        <tbody><tr>
          <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;border-bottom:1px solid #cccccc;padding:20px 0 15px 20px" align="left">Time</td>
        </tr>
        <tr>
          <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;border-bottom:1px dashed #cccccc;padding:15px 0 15px 20px" align="left">{{time1}}</td>
        </tr>

      </tbody></table>



      <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:600px" align="center">
        <tbody><tr>
          <td style="font-size:22px;color:#333333;line-height:119%;font-weight:normal;border-bottom:1px solid #cccccc;padding:40px 0 15px 0" align="left">So What's Next?</td>
        </tr>
        <tr>
          <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;padding:20px 0 0 0">You have 3 days from <span class="il">purchase</span> to make any changes to your order. <a href="" style="color:#0185c6;text-decoration:none" target="_blank">Edit Your Details</a></td>
        </tr>
      </tbody></table>							</td>
    </tr>
  </tbody></table>
  

    
{% endblock %}
