<div style="margin:0!important;padding:0!important;background:#f2f2f2">
	
  <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:670px;background:#f2f2f2" align="center">
   <tbody><tr>
    <td align="center" style="padding:40px 0 30px 0"><a href="" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/1ChYR8lXulLOOaVS0aftWKCDEM4nkHsWA8adFX1HPZ4F1SduJO8RD-4PmsWMeZAkd7zfiD2QRy9d58iyOqA0J5juH4fh5amPKVIwDfy7888VlC2_jLWbmmsuCXEpCKgiYZor5lsOjt33drgD=s0-d-e1-ft#http://s3.grouponcdn.com/email/images/prom_night/global_images/hdr-logo-GRPN-green.png" style="display:block;border:none;width:151px" width="151" class="CToWUd"></a></td>
  </tr>
</tbody></table>

<table cellpadding="0" cellspacing="0" style="width:670px;background:#ffffff" align="center">
 <tbody><tr>
  <td align="center" style="padding:20px 0 40px 0">
   <table cellpadding="0" cellspacing="0" style="width:600px;background:#ffffff" align="center">
    <tbody><tr>
     <td>




      <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:600px" align="center">
        <tbody><tr>
          <td style="font-size:34px;color:#333333;line-height:121%;padding:20px 0 0 0">Hi {{talk.user}},</td>
        </tr>
        <tr>
          <td style="font-size:34px;color:#333333;line-height:121%;font-weight:bold">Your talk with {{talk.expert}} has been accepted!</td>
        </tr>
        <tr>
          <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;padding:20px 0 20px 0">
            Your talk number is <strong>{{talk.id}}</strong> placed on {{talk.created}}</td>
          </tr>
          <tr>
            <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;padding:10px 10px 10px 10px;background-color:#F7FFF4" align="center">
              <div style='font-weight:bolder'>Call Number: <span style='font-size:20px;color:rgb(50, 224, 21)'>(201) 561-8303</span></div>
              <div style='font-weight:bolder'>Call Number: <span style='font-size:20px;color:rgb(50, 224, 21)'>{{talk.userpin}}</span></div>

            </td>
          </tr>
        </tbody></table></td></tr>
      </tbody></table>






      <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:600px" align="center">
        <tbody><tr>
          <td style="font-size:22px;color:#333333;line-height:119%;font-weight:normal;padding:40px 0 0 0" align="left" valign="bottom">Call Info</td>
          <td style="font-size:13px;color:#333333;line-height:117%;font-weight:bold;padding:40px 0 0 0" align="left" valign="bottom"><a href="" style="color:#0185c6;text-decoration:none" target="_blank">View Status</a></td>
        </tr>
      </tbody></table>
      <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:600px" align="center">
        <tbody><tr>
          <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;border-bottom:1px solid #cccccc;padding:20px 0 15px 20px" align="left">Time</td>
        </tr>
        <tr>
          <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;border-bottom:1px dashed #cccccc;padding:15px 0 15px 20px" align="left">{{time1}}</td>
        </tr>

      </tbody></table>


      <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:600px;padding-top:60px!important" align="center">
        <tbody><tr>
          <td valign="top">
            <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:100%" align="center">
              <tbody><tr>
                <td style="font-size:22px;color:#333333;line-height:119%;font-weight:normal;border-bottom:1px solid #cccccc;padding:0 0 15px 0" align="left">Payment Details</td>
              </tr>
              <tr>
                <td colspan="2" style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;width:140px;padding:10px 0 0 0">Discover ending in ****-4671</td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
      <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:600px" align="center">
        <tbody><tr>
          <td style="font-size:22px;color:#333333;line-height:119%;font-weight:normal;border-bottom:1px solid #cccccc;padding:40px 0 15px 0" align="left">So What's Next?</td>
        </tr>
        <tr>
          <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;padding:20px 0 0 0">You have 3 days from <span class="il">purchase</span> to make any changes to your order. <a href="" style="color:#0185c6;text-decoration:none" target="_blank">Edit Your Details</a></td>
        </tr>
      </tbody></table>							</td>
    </tr>
  </tbody></table>
  

    
    <table cellpadding="0" cellspacing="0" style="width:100%;background:#f2f2f2" align="center">
     <tbody><tr>
      <td align="center" style="padding:30px 0 0 0">
       <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:600px" align="center">
        <tbody><tr>
          <td style="font-size:16px;color:#888888;line-height:119%;padding:10px 10px 10px 10px" align="center">Need help? Have feedback? Feel free to <a href="" style="color:#0185c6;text-decoration:none" target="_blank">contact us</a></td>
        </tr>
        <tr>
          <td style="font-size:10px;color:#999999;line-height:120%;padding:10px 10px 10px 10px" align="center">Delivered by Groupon Inc. 600 W. Chicago Avenue, Suite 400 Chicago, IL, 60654, USA</td>
        </tr>
        <tr>
         <td style="font-size:10px;color:#999999;line-height:120%;padding:0 10px 10px 10px" align="center">This email confirmation was sent to <a href="mailto:thess624@gmail.com" target="_blank">thess624@gmail.com</a> because you recently made a Groupon <span class="il">purchase</span>.</td>
       </tr>
     </tbody></table>
   </td>
 </tr>
</tbody></table>	
</div>