{% extends 'email_base.html' %}


{% block content %}

<table cellpadding="0" cellspacing="0" style="width:670px;background:#ffffff" align="center">
 <tbody><tr>
  <td align="center" style="padding:20px 0 40px 0">
   <table cellpadding="0" cellspacing="0" style="width:600px;background:#ffffff" align="center">
    <tbody><tr>
     <td>

 


      <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:600px" align="center">
        <tbody><tr>
          <td style="font-size:34px;color:#333333;line-height:121%;padding:20px 0 0 0">Hi {{talk.user}},</td>
        </tr>
        <tr>
          <td style="font-size:34px;color:#333333;line-height:121%;font-weight:bold">Your call summary is below!</td>
        </tr>
        <tr>
          <td>Your card has been charged for {{talk.cost}}</td>
        </tr>
        </tbody></table></td></tr>
      </tbody></table>






      <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:600px" align="center">
        <tbody><tr>
          <td style="font-size:22px;color:#333333;line-height:119%;font-weight:normal;padding:40px 0 0 0" align="left" valign="bottom">Call Info</td>
        </tr>
      </tbody></table>
      <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:600px" align="center">
        <tbody><tr>
          <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;border-bottom:1px solid #cccccc;padding:20px 0 15px 20px" align="left">Time</td>
          <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;border-bottom:1px solid #cccccc;padding:20px 0 15px 20px" align="left">Length</td>
          <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;border-bottom:1px solid #cccccc;padding:20px 0 15px 20px" align="left">Price per Minute</td>
          <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;border-bottom:1px solid #cccccc;padding:20px 0 15px 20px" align="left">Cost</td>
        </tr>
        <tr>
          <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;border-bottom:1px dashed #cccccc;padding:15px 0 15px 20px" align="left">{{talk.time}}</td>
          <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;border-bottom:1px dashed #cccccc;padding:15px 0 15px 20px" align="left">{{talk.call_length}}</td>
          <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;border-bottom:1px dashed #cccccc;padding:15px 0 15px 20px" align="left">{{talk.price_per_minute}}</td>
          <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;border-bottom:1px dashed #cccccc;padding:15px 0 15px 20px" align="left">{{talk.cost}}</td>
        </tr>

      </tbody></table>


      <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:600px;padding-top:60px!important" align="center">
        <tbody><tr>
          <td valign="top">
            <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:100%" align="center">
              <tbody><tr>
                <td style="font-size:22px;color:#333333;line-height:119%;font-weight:normal;border-bottom:1px solid #cccccc;padding:0 0 15px 0" align="left">Payment Details</td>
              </tr>
              <tr>
                <td colspan="2" style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;width:140px;padding:10px 0 0 0">{{talk.card.brand}} ending in ****-{{talk.card.last4}}</td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
      <table cellpadding="0" cellspacing="0" style="border:0 none;border-spacing:0;font-family:Helvetica,Arial,sans-serif,'Open Sans';color:#000000;font-weight:normal;text-align:left;width:600px" align="center">
        <tbody><tr>
          <td style="font-size:22px;color:#333333;line-height:119%;font-weight:normal;border-bottom:1px solid #cccccc;padding:40px 0 15px 0" align="left">So What's Next?</td>
        </tr>
        <tr>
          <td style="font-size:13px;color:#333333;line-height:170%;font-weight:normal;padding:20px 0 0 0">Rate the expert and find another talk!</td>
        </tr>
      </tbody></table>							</td>
    </tr>
  </tbody></table>
  

{% endblock %}
