{% extends 'base.html' %}


{% block head %}
<style type="text/css">



</style>
{% endblock %}
 

{% block content %} 
        <div class="page-header"> 

          <div class='row'>
            <div class='col-md-12'>
                  <h1 id='mainheader'>About Us</h1>
            </div>
          </div>
        </div>


        <div class='row'>

            <div class='col-md-4'>
              <img src="{{STATIC_URL}}img/taylor.jpeg" style='width:100%'>
            </div>

            <div class='col-md-4'>

            </div>

      			<div class='col-md-4'>

      			</div>

        </div><!-- end row -->


{% endblock %}





{% block scripts %}

<script type="text/javascript">
</script>

{% endblock %}



