{% extends 'base.html' %}


{% block head %}
<style type="text/css">

.experttag a{
	text-decoration: none;
	color: white;
}

.categorybox{
	border: 5px white solid;
	font-weight: bold;

	
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;

}

.horiztaglist{
	padding:10px;
}

span.stars, span.stars span {
	display: block;
	background: url({{STATIC_URL}}img/stars.png) 0 -16px repeat-x;
	width: 80px;
	height: 16px;
}

span.stars span {
    background-position: 0 0;
}

</style>
{% endblock %}
 





{% block content %} 



<div class="row">

	<div class='col-md-12'>
		<div class="page-header">

		  <div class='row'>
		    <div class='col-md-12'>
		          <h1 id='mainheader'>Experts</h1>
		    </div>
		  </div>
		  {% if areacategory %}
		<div>{{areacategory}}</div>
		  {% endif %}
		</div>

{% if not areacategory %}
		<div class='row'>
			<a href="{% url 'expertfindcategory' 'Energy' %}"> <div class='col-md-3 categorybox'><i class="fa fa-pie-chart"></i>  Asset Allocation</div>
			</a>
			<a href="{% url 'expertfindcategory' 'Energy' %}"> 
				<div class='col-md-3 categorybox'> <i class="fa fa-line-chart"></i>  Equities</div>
			</a>
			<a href="{% url 'expertfindcategory' 'Energy' %}"> 
				<div class='col-md-3 categorybox'> <i class="fa fa-laptop"></i>  Sector Investing</div>
			</a>
			<a href="{% url 'expertfindcategory' 'Energy' %}">
				<div class='col-md-3 categorybox'> <i class="fa fa-bitcoin"></i> Alternative Investments</div>
			</a>
		</div>
		<div class='row'>
			<a href="{% url 'expertfindcategory' 'Energy' %}">
				<div class='col-md-3 categorybox'><i class="fa fa-globe"></i>  Geopolitics</div>
			</a>
			<a href="{% url 'expertfindcategory' 'Energy' %}">
				<div class='col-md-3 categorybox'><i class="fa fa-list-ol"></i>  Finanical Planning</div>
			</a>
			<a href="{% url 'expertfindcategory' 'Energy' %}">
				<div class='col-md-3 categorybox'><i class="fa fa-bank"></i>  Fixed Income</div>
			</a>
			<a href="{% url 'expertfindcategory' 'Energy' %}"> 
				<div class='col-md-3 categorybox'><i class="fa fa-area-chart"></i> Other</div>
			</a>
		</div>
		<hr>
{% else %}
		<div class='row'>
			{% for t in tags %}
			<span class='horiztaglist'><a href="{% url 'tagsearch' t.name %}">{{t.name}}</a></span>
			{% endfor %}
		</div>
		<hr>
{% endif %}

		<br>
		{% for e in experts %}
		  <div class="row">
		  	<div class='col-md-9'>
			  	<div class="media">
				  <a class="media-left" href="{% url 'expert' e.id%}">
				    <img src="{{MEDIA_URL}}{{e.picture}}" style='height:140px' alt="profile image">
				  </a>
				  <div class="media-body">
				    <h3 class="media-heading">{{e.user.first_name}} {{e.user.last_name}} <span class="stars">{{e.rating_score}}</span></h3>
				    <div>({{e.rating_count}} reviews)</div>
				    <h4> {{e.title}}- <small>{{e.location}}</small></h4>
			        <p>
			        	{% for t in e.tags.all %}
			        	<span class="label label-default experttag"><a href="{% url 'tagsearch' t.name %}">{{t.name}}</a></span>
			        	{% endfor %}

			        </p>
			        <p>{{e.short_bio|truncatechars:250}}</p>

				  </div>
				</div>
			</div>
			<div class='col-md-3'>
			        <p>
					
			        	<a href="{% url 'expert' e.id%}" class="btn btn-primary" role="button" style='width:100%;margin:60px 0px'>View Profile</a>
			        </p>
			</div>

		  </div>
		  <hr>
		{% endfor %}

  </div>
</div>

{% endblock %}





{% block scripts %}
<script type="text/javascript">
$.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;
        // Create stars holder
        var $span = $('<span />').width(size);
        // Replace the numerical value with stars
        $(this).html($span);
    });
}


$(function() {

    $('span.stars').stars();

});



</script>
{% endblock %}



