{% extends 'base.html' %}


{% block head %}
<style type="text/css">
	.propic{
		width: 200px;
	}

	.proprice{
		font-size: 6em;
		color: green;
		letter-spacing: -3px;
		font-weight: 300;
	} 

	.propricecents{
		position: relative;
		top: -30px;
		font-size: 2.5em;
		color: green;
		letter-spacing: -2px;

	}

	.propricedollarsign{
		position: relative;
		top: -40px;
		font-size: 1.75em;
	}

	.reviewsheader{
		background-color: rgb(100, 100, 100);
		padding: 10px;
		color: white;
	}
	.commentarea{
		font-size: .9em;
	}

	.commentheader{
		font-size: 1.2em;
		font-weight: bold;
	}

	.commentreviewer{
		padding: 3px;
		font-size: .9em;
	}

	span.stars, span.stars span {
    display: block;
    background: url({{STATIC_URL}}img/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
	}

	span.stars span {
	    background-position: 0 0;
	}

	.labelarea{
		padding: 5px;
	}

	.taglink{

	}

	.sm-sociallogo{
		margin: 4px;
	}




/* radio buttons in form */


.radio-toolbar input[type="radio"] {
    display:none; 
}

.radio-toolbar label {
    display:inline-block;
    background-color:#ddd;
    padding:4px 11px;
    font-family:Arial;
    font-size:16px;
}

.radio-toolbar input[type="radio"]:checked + label { 
    background-color:#bbb;
}
</style>

<link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet">

{% endblock %}
 





{% block content %} 

<div class="page-header">


  <div class='row'>
    <div class='col-md-12'>
          <h1 id='mainheader'>{{expert.user.first_name}} {{expert.user.last_name}}</h1>
    </div>
  </div>
</div>


<div class='row'>

	<div class='col-md-9'>
		<div class='row'>
			<div class="media">
			  <div class="media-left" href="#">
			    <img src="{{MEDIA_URL}}{{expert.picture}}" alt="..." class='propic'>

			    <div class='labelarea'>
				    {% for t in expert.tags.all%} 
				    <a href="{% url 'tagsearch' t.name %}" class='taglink'><span class="label label-default">{{t.name}}</span></a>
				    {% endfor %}
			  	</div>

			  </div>
			  <div class="media-body">
			  	
			  	<h4>{{expert.title}}</h4>
			  	<h5><i class="fa fa-map-marker"></i> {{expert.location}}</h5>
			  	<div>{{expert.rating_score}} {{expert.rating_count}}</div>
			  	
			  	<div>
			  		<i class="fa fa-twitter sm-sociallogo" data-toggle="tooltip" data-placement="bottom" title="Verified"></i> 
			  		<i class="fa fa-linkedin sm-sociallogo" data-toggle="tooltip" data-placement="bottom" title="Verified"></i>
			  	</div>
			  	<hr>
			    <h4 class="media-heading">
			    	<span>Professional Qualifications</span>
			    	<span class='pull-right'>


			    	</span>
			    </h4>
			    <p>{{expert.short_bio}}</p>
			    <p>{{expert.resume}}</p>

			    <br>

			  </div>
			</div>
		</div>


<hr>
		<div class='row'>
			<h3 class='reviewsheader'>
				<span>Expert Reviews</span>
 				{% if eligible_to_review %}
				<button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#myModal">Add Review</button>
 				{% endif %}

			</h3>

			{% for r in reviews %}
<!-- 			<div class="panel panel-default">
			  <div class="panel-body"> -->

			    <div>
			    	<span class="stars">{{r.rating}}</span>
			    	<span class='commentheader'>{{r.title}}</span>
			    	<div class='commentreviewer'>{{r.date}}</div>
			    	<div class='commentreviewer'>by {{r.user}}</div>
			    </div>

			    <p class='commentarea'>{{r.comment}}</p>
			    <hr>
<!-- 			  </div>
			</div> -->

			{% empty %}
			<div>No Reviews</div>
			{% endfor %}


		</div>
	</div>

	<div class='col-md-3'>
		<a class='btn btn-lg btn-success' style='width:100%' href="{% url 'requesttalk' expert.id %}">
		<i class="fa fa-phone"></i>
			Schedule an Appointment
		</a>

		{% if request.user.is_authenticated %}
		<form method="post" >{% csrf_token %}
			<button class='btn btn-lg' style='width:100%;margin-top:10px' type='submit' name='favorite'>
				{% if expert.user.id in favorites %}
			<i class="fa fa-heart"></i>
				{% else %}
			<i class="fa fa-heart-o"></i>
				{% endif %}

				Favorite
			</button>
		</form>
		{% endif %}

		<div style='padding:0px 30px'>
			<span class='propricedollarsign'>$</span>
			<span class='proprice'>{{expert.price}}</span>
			<!-- <span class='propricecents'>00</span> -->
			<span style='font-weight:bold'> / minute</span>
		</div>
	</div>

</div>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

	<form  id="upload-form" class="form-horizontal" method="post" >

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Review</h4>
      </div>
      <div class="modal-body">

			{% csrf_token %}

			<div id="div_id_title" class="form-group"><label for="id_title" class="control-label col-lg-3 requiredField">Title<span class="asteriskField">*</span></label>
				<div class="controls col-lg-9">
			{{ratingform.title}}
				</div>
			</div>

			

			<div class="radio-toolbar col-lg-9 col-lg-offset-3">
			   
			    <input type="radio" id="radio1" name="rating" value="1">
			    <label for="radio1">1</label>

			    <input type="radio" id="radio2" name="rating"value="2">
			    <label for="radio2">2</label>

			    <input type="radio" id="radio3" name="rating" value="3" checked>
			    <label for="radio3">3</label> 

			     <input type="radio" id="radio4" name="rating" value="4" >
			    <label for="radio4">4</label> 

			    <input type="radio" id="radio5" name="rating" value="5">
			    <label for="radio5">5</label> 
			</div>

			

			<div id="div_id_comment" class="form-group"><label for="id_comment" class="control-label col-lg-3 requiredField">Comment<span class="asteriskField">*</span></label><div class="controls col-lg-9">{{ratingform.comment}}</div></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" name='ratingform' class="btn btn-primary">Save changes</button>
      </div>

  	</form>

    </div>
  </div>
</div>



{% endblock %}





{% block scripts %}

<script src="{{STATIC_URL}}js/bootstrap-datetimepicker.min.js"></script>


<script type="text/javascript">
$.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;
        // Create stars holder
        var $span = $('<span />').width(size);
        // Replace the numerical value with stars
        $(this).html($span);
    });
}


$(function() {

    $('span.stars').stars();


    $('#id_time').datetimepicker({
    format: 'yyyy-mm-dd hh:ii',
    pickerPosition: 'top-right',
	});

});


// initialize tooltips
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})


</script>
{% endblock %}



