{% extends 'base.html' %}


{% block head %}
<style type="text/css">


</style>
{% endblock %}
 





{% block content %} 



<div class="row">
	<div class= 'col-md-3'>

<!-- 		<ul class="nav">
		  <li>Commodities</li>
		  <li>Commodities</li>
		  <li>Commodities</li>
		</ul> -->


	</div>

	<div class='col-md-9'>
		<div class="page-header">

		  <div class='row'>
		    <div class='col-md-12'>
		          <h1 id='mainheader'>Experts</h1>
		    </div>
		  </div>
		</div>

		<div class='row' style='padding-bottom:20px'>
				<button class="btn btn-default" type="submit">Button</button>
				<button class="btn btn-default" type="submit">Button</button>
				<button class="btn btn-default" type="submit">Button</button>
				<button class="btn btn-default" type="submit">Button</button>
				<button class="btn btn-default" type="submit">Button</button>
				<button class="btn btn-default" type="submit">Button</button>
				<button class="btn btn-default" type="submit">Button</button>
				<button class="btn btn-default" type="submit">Button</button>
				<button class="btn btn-default" type="submit">Button</button>
				<button class="btn btn-default" type="submit">Button</button>
		</div>

		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="{{STATIC_URL}}img/profile.jpg" alt="...">
		      <div class="caption">
		        <h3>Jon Swanson</h3>
		        <p>
		        	<span class="label label-default">Oil & Gas</span>
		        	<span class="label label-default">Commodities</span>
		        	<span class="label label-default">Energy</span>
		        </p>
		        <p><a href="/expert/1" class="btn btn-success" role="button" style='width:100%'>View Profile</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="{{STATIC_URL}}img/profile.jpg" alt="...">
		      <div class="caption">
		        <h3>Jon Swanson</h3>
		        <p>
		        	<span class="label label-default">Oil & Gas</span>
		        	<span class="label label-default">Commodities</span>
		        	<span class="label label-default">Energy</span>
		        </p>
		        <p><a href="/expert/1" class="btn btn-success" role="button" style='width:100%'>View Profile</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="{{STATIC_URL}}img/profile.jpg" alt="...">
		      <div class="caption">
		        <h3>Jon Swanson</h3>
		        <p>
		        	<span class="label label-default">Oil & Gas</span>
		        	<span class="label label-default">Commodities</span>
		        	<span class="label label-default">Energy</span>
		        </p>
		        <p><a href="/expert/1" class="btn btn-success" role="button" style='width:100%'>View Profile</a></p>
		      </div>
		    </div>
		  </div>
  </div>
</div>

{% endblock %}





{% block scripts %}

{% endblock %}



