{% extends 'base.html' %}


{% block head %}

{% endblock %}
 





{% block content %} 



<div class="row">

	<div class='col-md-12'>
		<div class="page-header">

		  <div class='row'>
		    <div class='col-md-12'>
		          <h1 id='mainheader'>Order Complete!</h1>
		    </div>
		  </div>
		</div>

  </div>
</div>

<div class='row'>

	<div class="alert alert-success" role="alert">You have submitted your request! An email will be sent shortly for confimation</div>

</div>

<div class='row'>
	<div class='col-md-9 col-sm-8'>
		<div class="panel panel-default">
		  <div class="panel-body">
		  	<h4>Payment Information <small>  <a href="{% url 'talkpayment' talk.id %}">edit</a></small></h4>
		  	<div>Brand</div>
		  	<div>Card</div>
		  	<div>Expires</div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-body">
				<div class="media">
				  <a class="media-left" href="#">
				    <img src="{{MEDIA_URL}}{{talk.expert.expertprofile.picture}}" alt="..." style='width:100px'>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">1. {{talk.expert}}</h4>
				    <span>{{ talk.time|date:"N d,  Y -  P T" }}</span>
				    <span>{{talk.price}}</span>
				    <div>{{talk.qualifications}}</div>
				  </div>
				</div>
				<div class="media">
				  <a class="media-left" href="#">
				    <i class='fa fa-phone fa-5x'></i>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">2. Call Download</h4>
				    <span>$10.00</span>
				    <div>This is the download for the call</div>
				  </div>
				</div>
		  </div>
		</div>


	</div>

</div>
{% endblock %}





{% block scripts %}

{% endblock %}



