{% extends 'base.html' %}


{% block head %}
<style type="text/css">
	.datesubmitted{
		font-size: .9em;
		padding: 0px 20px;
	}

  .timehigh{
    background-color: rgb(253, 253, 225);
    padding: 3px;
  }

  .hiddenRow{
    padding: 0px !important;
  }

</style>
{% endblock %}
 





{% block content %} 

<div class="page-header">

  <div class='row'>
    <div class='col-md-12'>
          <h3 id='mainheader'>Requested Appointments</h3>
    </div>
  </div>
</div>


<div class='row'>
<div class='col-md-9'>
  <table class="table table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date Submitted</th>
            <th>Est. Length</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

{% for t in reqtalks %}

          <tr data-toggle="collapse" data-target="#row{{t.id}}" class="accordion-toggle">
            <td>{{t.expert.last_name}}, {{t.expert.first_name}}</td>
            <td>{{t.created}}</td>
            <td>{{t.call_length}} mins</td>
            <td>
              <button type="button" class="btn btn-primary  btn-xs" data-toggle="modal" data-target="#exampleModal" data-name="{{r.user.first_name}} {{r.user.last_name}}" data-time="{{r.time}}" data-reqid="{{r.id}}" >Respond</button>

              <button class='btn btn-xs' type='submit'>More</button>
            </td>
          </tr>
          <tr>
              <td colspan="6" class="hiddenRow">
                <div id="row{{t.id}}" class="accordian-body collapse">{{t.message}}
          {% for tt in talktimes %}
          {% ifequal tt.talk.id t.id%}
          <div class='timehigh hiddenRow' data-talktimeid="{{tt.id}}">{{ tt.time|date:"N d,  Y -  P T" }}</div>
          {% endifequal %}
          {% endfor %}
                </div>
              </td>
          </tr>

{% empty %} 
      <tr>
      <td>None</td> 
      </tr>
{% endfor %}

        </tbody>
      </table>
</div><!-- end col-md-9 -->


<div class='col-md-3'></div>

</div>
<!-- end row -->

{% for r in reqtalks%}




	<div class="media">
	  <a class="media-left" href="#">
		<i class="fa fa-phone fa-4x"></i>
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading">{{r.user.first_name}} {{r.user.last_name}}</h4>

	    <h5>Requests for </h5>
      {% for tt in talktimes %}
        {% ifequal tt.talk.id r.id%}
        <div class='timehigh' data-talktimeid="{{tt.id}}">{{ tt.time|date:"N d,  Y -  P T" }}</div>
        {% endifequal %}
      {% endfor %}

	    <p>{{r.message}}</p>
	    <div class='datesubmitted'>{{r.created}}</div>
	    <button type="button" class="btn btn-primary modalbtn" data-toggle="modal" data-target="#exampleModal" data-name="{{r.user.first_name}} {{r.user.last_name}}" data-time="{{r.time}}" data-reqid="{{r.id}}" style='margin: 10px 0px'>Respond</button>
	  </div>
	</div>
{% empty %}

<div class='row'>No requests at this time</div>

{% endfor %}








<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">

          <form method="POST" action="{% url 'talkrequests' %}">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
        <form role="form">
         <div class="form-group">
            <p><span id='responsename'></span> at <span id='responsetime'></span></p>
          </div>
          <div class="form-group" id='formdataarea'>
          
              {% csrf_token %}

            <!-- <div><input type='radio' name='talktimeid' class='ttimeid'>1</div> -->



            <label for="id_message" class="control-label" id='message_label'>Message:</label>
            <textarea cols="40" id="id_reply_message" maxlength="500" name="reply_message" rows="7" class='form-control'></textarea>
            <input type='hidden' value='' id='requestid' name='requestid'>
            <!-- {{talkreplyform}} -->


          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" name='acceptform'>Accept</button>
        <button type="submit" class="btn btn-danger" name='rejectform'>Reject</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

          </form>

  </div>
</div>




{% endblock %}





{% block scripts %}
<script type="text/javascript">

$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var talkoptions = button.prevAll('.timehigh')
  var responsetime = button.data('time') // Extract info from data-* attributes
  var responsename = button.data('name') // Extract info from data-* attributes
  var requestid = button.data('reqid') // Extract info from data-* attributes

  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)

  // first delete all label options
  modal.find('.ttimewrapper').remove()

  modal.find('.modal-title').text('Response to ' + responsename)
  modal.find('#responsetime').text(responsetime)
  modal.find('#responsename').text(responsename)
  modal.find('#requestid').val(requestid)
  var message_label = modal.find('#formdataarea')

  $.each( talkoptions, function(index,value) {

    var timeid = value.dataset.talktimeid
    var timetext = value.innerText
    message_label.prepend("<div class='ttimewrapper'><input type='radio' name='talktimeid' class='ttimeid' value='"+timeid+"'>"+timetext+"</div>")

  });




})

</script>
{% endblock %}



