{% extends 'base.html' %}


{% block head %}

<link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet">

{% endblock %}
 





{% block content %} 



<div class="row">

	<div class='col-md-12'>
		<div class="page-header">

		  <div class='row'>
		    <div class='col-md-12'>
		          <h1 id='mainheader'>Schedule Call</h1>
		    </div>
		  </div>
		</div>


{% if user.is_authenticated %}

	<form method='post'> {% csrf_token %}
		<div>

        {{requestform}}

	    {{ talkformset.management_form }}
	    {% for form in talkformset %}
	    	{{ form.as_p }}
	    {% endfor %}
		</div>
		<button type='submit' name='requestform' class='btn btn-lg btn-primary'>Submit</button>
	</form>

{% else %}

<div>To submit request, please <a href="/accounts/signup">Sign Up</a></div>

{% endif %}


  </div>
</div>

{% endblock %}





{% block scripts %}
<script src="{{STATIC_URL}}js/bootstrap-datetimepicker.min.js"></script>


<script type="text/javascript">
	$(function() {

	    $('#id_time').datetimepicker({
	    format: 'yyyy-mm-dd hh:ii',
	    pickerPosition: 'top-right',
		});

	});
</script>
{% endblock %}



