{% extends 'base.html' %}


{% block head %}

<link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet">

{% endblock %}
 





{% block content %} 



<div class="row">

	<div class='col-md-12'>
		<div class="page-header">

			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;">
			    1/3
			  </div>
			</div>

		  <div class='row'>
		    <div class='col-md-12'>
		          <h1 id='mainheader'>Schedule Appointment</h1>
		    </div>
		  </div>
		</div> 


{% if user.is_authenticated %}

		<form class="form-horizontal" method='post'>{% csrf_token %}
			{{ requestform.non_field_errors }}
			{{ talkformset.non_field_errors }}
		  <div class="form-group">
			<label for="{{ requestform.message.id_for_label }}"  class="col-sm-2 control-label">Message:</label>
		    <div class="col-sm-6">
	        	{{requestform.message.errors}}
	        	{{requestform.message}}
		    </div>
		  </div>


		  <div class="form-group">
			<label for="{{ requestform.time_estimated.id_for_label }}"  class="col-sm-2 control-label">Estimated Length:</label>
		    <div class="col-sm-3" data-container="body" >
	        	{{requestform.time_estimated.errors}}
	        	{{requestform.time_estimated}}
		    </div>
		  </div>

		  <br>
		  
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      Please select three times that work for you to make an appointment -- the expert will pick one that works and get back to you.
		    </div>
		  </div>


		  <div class="form-group">
		    <label for="{{talktimeform.talk1.id_for_label}}" class="col-sm-2 control-label">Time 1</label>
		    <div class="col-sm-3">
		      {{talktimeform.time1.errors}}
		      {{talktimeform.time1}}
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="{{talktimeform.talk2.id_for_label}}" class="col-sm-2 control-label">Time 2</label>
		    <div class="col-sm-3">
		      {{talktimeform.time2.errors}}
		      {{talktimeform.time2}}
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="{{talktimeform.talk3.id_for_label}}" class="col-sm-2 control-label">Time 3</label>
		    <div class="col-sm-3">
		      {{talktimeform.time3.errors}}
		      {{talktimeform.time3}}
		    </div>
		  </div>

		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		<button type='submit' name='requestform' class='btn btn-primary'>Submit</button>
		    </div>
		  </div>

        
		</div>
		<br>
	</form>

{% else %}

<div>To submit request, please <a href="/accounts/signup">Sign Up</a></div>

{% endif %}


  </div>
</div>

{% endblock %}





{% block scripts %}
<script src="{{STATIC_URL}}js/bootstrap-datetimepicker.min.js"></script>


<script type="text/javascript">
	$(function() {

	    $('.datetimefield').datetimepicker({
	    format: 'yyyy-mm-dd hh:ii',
	    pickerPosition: 'top-right',
	    showMeridian: true,
	    autoclose:true,
		});


	});


$(function () {

    $("#id_requestform-time_estimated")
        .popover({ content: "This is the estimated time the talk will take --  so the expert can plan out his day!",container:'.form-horizontal' })
        .blur(function () {
            $(this).popover('hide');
        });


    $("#id_requestform-message")
        .popover({ content: "If you want to include a message to the expert, do so here.",container:'.form-horizontal' })
        .blur(function () {
            $(this).popover('hide');
        });


});


</script>
{% endblock %}



