{% extends 'base.html' %}


{% block head %}

{% endblock %}
 





{% block content %} 



<div class="row">

	<div class='col-md-12'>
		<div class="page-header">

		  <div class='row'>
		    <div class='col-md-12'>
		          <h1 id='mainheader'>Review Order</h1>
		    </div>
		  </div>
		</div>

  </div>
</div>

<div class='row'>
	<div class='col-md-9 col-sm-8'>
		<div class="panel panel-default">
		  <div class="panel-body">
		  	<h4>Payment Information <small>  <a href="">edit</a></small></h4>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-body">
				<div class="media">
				  <a class="media-left" href="#">
				    <img src="..." alt="...">
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">1. Name of Guy</h4>
				    <span>Time</span>
				    <span>Price</span>
				    <div>This is the descThis is the descThis is the descThis is the descThis is the descThis is the descThis is the descThis is the descThis is the descThis is the descThis is the descThis is the descThis is the descThis is the descThis is the descThis is the descThis is the desc</div>
				  </div>
				</div>
				<div class="media">
				  <a class="media-left" href="#">
				    <i class='fa fa-phone fa-5x'></i>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">2. Call Download</h4>
				    <span>$10.00</span>
				    <div>This is the download for the call</div>
				  </div>
				</div>
		  </div>
		</div>


	</div>
	<div class='col-md-3 col-sm-4'>
		<div class="panel panel-default">
		  <div class="panel-body">
		    <button style='width:100%' class='btn btn-success'>Place Order</button>
		  </div>
		</div>
	</div>
</div>
{% endblock %}





{% block scripts %}

{% endblock %}



