{% extends 'base.html' %}


{% block head %}
<style type="text/css">

	.createdtime-media{
		font-size: .8em;
		position: absolute;
		right: 0px;
	}

	.schedtime-media{
		background-color: rgb(253, 253, 225);
		padding: 3px;
	}

	.accepted{
		color: rgb(0, 179, 0);
	}

	.cancelled{
		color: rgb(220, 0, 0);
	}
</style>
{% endblock %}
 





{% block content %} 

<div class="page-header">

  <div class='row'>
    <div class='col-md-12'>
          <h3 id='mainheader'>Scheduled Talks</h3>
    </div>
  </div>
</div>


{% for t in talks%}
	<div class="panel panel-default">
	  <div class="panel-body">
		<div class="media">
		  <a class="media-left" href="#">
			<i class="fa fa-phone fa-5x"></i>
		  </a>
		  <div class="media-body" style='width:100%;position:relative'>
		    <h3 class="media-heading">{{t.expert.first_name}} {{t.expert.last_name}}</h3>
		    <div>Talk scheduled for <span class='schedtime-media'>{{t.time}}</span></div>
		    <div>${{t.price}} per minute</div>
		    <div>{{t.message}}</div>
		    <div>{{t.reply_message}}</div>
		  	<span class='createdtime-media'>Made on {{t.created}}</span>
		  </div>
		</div>
	   </div>
	</div>
{% empty %}
	<div>None</div>
{% endfor %}


<div class="page-header">
  <div class='row'>
    <div class='col-md-12'>
          <h3 id='mainheader'>History</h3> 
    </div>
  </div>
</div>

{% for r in reqtalks%}
	<div class="panel panel-default">
	  <div class="panel-body">
		<div class="media">
		  <a class="media-left" href="#">
		  	{% if r.requested %}
			<i class="fa fa-clock-o fa-3x"></i>
		  	{% elif r.cancelled_at %}
			<i class="fa fa-times fa-3x cancelled"></i>
		  	{% elif r.accepted_at %}
			<i class="fa fa-check-square-o fa-3x accepted"></i>
		  	{% endif %}

		  </a>
		  <div class="media-body" style='position:relative;width:100%'>
		    <h4 class="media-heading">{{r.expert.first_name}} {{r.expert.last_name}}</h4>
		    <h5>Talk Requested for {{r.time}}</h5>
		  	<span class='createdtime-media'>Requested on {{r.created}}</span>
		  </div>
		</div>
	   </div>
	</div>
{% empty %}
	<div>None</div>
{% endfor %}

{% endblock %}





{% block scripts %}

{% endblock %}



