{% extends 'base.html' %}


{% block head %}



<style type="text/css">

.radiochecked {
  background: rgb(247, 247, 255);
}

</style>
{% endblock %}
 





{% block content %} 



<div class="row">

	<div class='col-md-12'>
		<div class="page-header">

      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
          2/3
        </div>
      </div>

<!-- {% if messages %}
    {% for message in messages %}
  <div class="alert {% if message.tags %}alert-{{ message.tags }} {% endif %} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message }}
  </div>
    {% endfor %}
{% endif %} -->

		  <div class='row'>
		    <div class='col-md-12'>
		          <h1 id='mainheader'>Payment Information</h1>
		    </div>
		  </div>
		</div>


<div class='row'>
  <form method='post'>{% csrf_token %}
    <div class='col-md-8'>

{% if default_card %}

      <h3>Card on File</h3>
      <div class="panel panel-default">
        <div class="panel-body">
            <input type='radio' value='{{default_card.id}}' name='card_id' id='defaultcard'>
            <label for='defaultcard'>
              <div>{{default_card.name}}</div>
              <div>
                {% if default_card.brand|lower == 'visa'%}
                <i class="fa fa-cc-visa fa-2x"></i>
                {% elif default_card.brand|lower == 'mastercard'%}
                <i class="fa fa-cc-mastercard fa-2x"></i>
                {% elif default_card.brand|lower == 'discover'%}
                <i class="fa fa-cc-discover fa-2x"></i>
                {% elif default_card.brand|lower == 'amex'%}
                <i class="fa fa-cc-amex fa-2x"></i>
                {% else %}
                <i class="fa fa-credit-card fa-2x"></i>
                {% endif %}

                {{default_card.brand}}

              </div>
              <div>Card: **** **** **** {{default_card.last4}}</div>
              <div>Expires: {{default_card.exp_month}} / {{default_card.exp_year}}</div>
            </label>
        </div>
      </div>

 

      <h4>All Cards</h4>
      {% for c in user_cards %}
            <div class="panel panel-default">
              <div class="panel-body">
                <input type='radio' value='{{c.id}}' name='card_id' id='othercard{{c.id}}'>
                <label for='othercard{{c.id}}'>
                  <span>

                        {% if c.brand|lower == 'visa'%}
                        <i class="fa fa-cc-visa"></i>
                        {% elif c.brand|lower == 'mastercard'%}
                        <i class="fa fa-cc-mastercard"></i>
                        {% elif c.brand|lower == 'discover'%}
                        <i class="fa fa-cc-discover"></i>
                        {% elif c.brand|lower == 'amex'%}
                        <i class="fa fa-cc-amex"></i>
                        {% else %}
                        <i class="fa fa-credit-card"></i>
                        {% endif %}

                        {{c.brand}}

                  </span>
                  <span> **** **** **** {{c.last4}}</span>
                  <span>Expires: {{c.exp_month}} / {{c.exp_year}}</span>
                </label>
              </div>
            </div>
          {% empty %}
          <div>None</div>
      {% endfor %}

{% else %}
      <div>Please add a card</div>
{% endif %}

    </div>

    <div class='col-md-4'>
      <div class="panel panel-default">
        <div class="panel-body">
          <button type='submit' class='btn btn-primary' style='width:100%' name='usecard'>Continue to Checkout</button>
          <div style='padding:10px'>
          You will still have time to review your appointment before submitting. 
          </div>
        </div>
      </div>

      <div class='well'>
        <h4>Talk Request</h4>
        <div>Expert: <a href="{% url 'expert' talk.expert.id %}">{{talk.expert}}</a></div> 
        <div>${{talk.price}} per minute</div>
        <div>Estimated Time: {{talk.time_estimated}} mins</div>
        
        <h5>Times:</h5>
        {% for t in talktimes %}
        <div>{{t.time}}</div>
        {% endfor %}
      </div>
    </div>
  </form>



<h3>Add new card
<small><i class="fa fa-plus" style='color:green' id='addcardbtn'></i></small>
</h3>
  <form class="form-horizontal" role="form" id='payment-form' method='post' style='display:none'> {% csrf_token %}
    <span class="payment-errors"></span>
    <fieldset>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="card-holder-name">Name on Card</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name" data-stripe="name">
        </div> 
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="card-number">Card Number</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Debit/Credit Card Number"  size="20" data-stripe="number">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="expiry-month">Expiration Date</label>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-xs-2">
              <input type='text' size='2' class="form-control col-sm-2" name="expiry-month" id="expiry-month"  data-stripe="exp-month" placeholder="Month (MM)"  />
            </div>
            <div class="col-xs-2">
              <input  type='text' size='4' class="form-control" name="expiry-year" data-stripe="exp-year" placeholder="Year (YYYY)"  />
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="cvc">Card CVC</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="cvc" id="cvc" placeholder="Security Code"  size="4" data-stripe="cvc">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <button type="submit" class="btn btn-success" name='addcard'>Add Card</button>
        </div>
      </div>
    </fieldset>
  </form>

</div><!-- end row -->







  </div>
</div>

{% endblock %}




{% block scripts %}

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<!-- stripe reccomends this in head -->
  <script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey("{{stripekey}}");

    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };

    jQuery(function($) {
      $('#payment-form').submit(function(e) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });


    $('#addcardbtn').click(function(){
        $('#payment-form').toggle();
    });




    $(':radio').click(function () {
        $('input:not(:checked)').parent().removeClass("radiochecked");
        $('input:checked').parent().addClass("radiochecked");
    });    


  </script>
{% endblock %}



