{% extends 'base.html' %}


{% block head %}
<style type="text/css">

	.createdtime-media{
		font-size: .8em;
		position: absolute;
		right: 0px;
	}

	.schedtime-media{
		background-color: rgb(253, 253, 225);
		padding: 3px;
	}

	.accepted{
		color: rgb(0, 179, 0);
	}

	.cancelled{
		color: rgb(220, 0, 0);
	}


		.bubble {
		font-size: 12px;
		margin-top:10px;
		position: relative;
		padding: 10px;
		background: #FAFAFA;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		border: #7F7F7F solid 1px;
		}

		.bubble:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 0 15px 12px;
		border-color: #FAFAFA transparent;
		display: block;
		width: 0;
		z-index: 1;
		top: -12px;
		left: 48px;
		}

		.bubble:before {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 0 15px 12px;
		border-color: #7F7F7F transparent;
		display: block;
		width: 0;
		z-index: 0;
		top: -13px;
		left: 48px;
		}


</style>
{% endblock %}
  





{% block content %} 

<div class='row'>
	<div class='col-md-6'>
			<div class="page-header">
			  <div class='row'>
			    <div class='col-md-12'>
			          <h3 id='mainheader'>Upcoming Appointments</h3> 
			    </div>
			  </div>
			</div>
	{% for t in upcomingtalks%}

			<div class="media">
			  <a class="media-left" href="#">
				<img src="{{MEDIA_URL}}{{t.expert.expertprofile.picture}}" alt="..." style='width:100px'>
			  </a>
			  <div class="media-body" style='width:100%;position:relative'>
			    <h3 class="media-heading">{{t.expert.first_name}} {{t.expert.last_name}}</h3>
			    <div>Talk scheduled for <span class='schedtime-media'>{{ t.time|date:"N d,  Y -  P T" }}</span></div>
			    <div>${{t.price}} per minute</div>
			    <div>{{t.message}}</div>
			    <div>{{t.reply_message}}</div>
			    <span>Number: (201) 561-8303</span>
			    <span style='padding:0px 5px'>Pin: {{t.user_pin}}</span>
			  	<span class='createdtime-media'>Made on {{t.created}}</span>
			  </div>
			</div>

			{% if t.reply_message %}
			<div class='bubble'>{{t.reply_message}}</div>
			{% endif %}

	{% empty %} 
		<div>No upcoming talks</div>
	{% endfor %}



	</div>


	<div class='col-md-6'>
<div class="page-header">
  <div class='row'>
    <div class='col-md-12'>
          <h3 id='mainheader'>History</h3> 
    </div>
  </div>
</div>

	<table class="table table-condensed">
	      <thead>
	        <tr>
	          <th>Expert</th>
	          <th>Time</th>
	          <th>Call Length</th>
	          <th class='right'>Cost</th>
	          <th>Status</th>
	          <th></th>
	        </tr>
	      </thead>
	      <tbody>

{% for t in talks%}

	        <tr data-toggle="collapse" data-target="#row{{t.id}}" class="accordion-toggle">
	          <td>{{t.expert.last_name}}, {{t.expert.first_name}}</td>
	          <td>{{t.time}}</td>
	          <td>{{t.call_length}} mins</td>
	          <td class='right'>Cost</td>
	          <td>
	          	{% if t.completed %}
	          	<span class='label label-warning'>Completed</span>
          		{% elif t.requested %}
	          	<span class='label label-info'>Requested</span>
	          	{% elif t.accepted_at %}
	          	<span class='label label-success'>Accepted</span>
	          	{% elif t.cancelled_at %}
	          	<span class='label label-danger'>Cancelled</span>
          		{% endif %}
	          </td>
	          <td>
	          	<button class='btn btn-xs' type='submit'>More</button>
	          </td>
	        </tr>
	        <tr>
            	<td colspan="6" class="hiddenRow"><div id="row{{t.id}}" class="accordian-body collapse">Need to add other data here -- table expand/collapse works</div></td>
        	</tr>
{% empty %} 
			<tr>
			<td>None</td>	
			</tr>
{% endfor %}

	      </tbody>
	    </table>

	</div>

</div>









{% endblock %}





{% block scripts %}

{% endblock %}



